.hero {
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 70px;
	}
	&__tags__title {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__tags {
		display: flex;
		gap: 5px;
	}
	&__tag {
		background-color: var(--totalWhite);
		padding: 5px;
		border-radius: 5px;
		width: -moz-fit-content;
		width: fit-content;
		color: var(--black);
		display: flex;
		align-items: center;
		gap: 5px;
	}
	&__age {
		background: var(--totalWhite);
	}
	&__scary {
		background-color: var(--lightYellow);
		color: var(--black);
	}
	&__veryScary {
		background-color: var(--brightRed);
		color: var(--totalWhite);
		img {
			filter: invert(1);
		}
	}
	&__difficult {
		background-color: var(--lightYellow);
		color: var(--black);
		img {
			filter: invert(1);
		}
	}
	&__veryDifficult {
		background-color: var(--brightRed);
		color: var(--totalWhite);
	}
	&__infoContainer {
		display: flex;
		flex-direction: column;
		gap: 50px;
		max-width: 720px;
		p {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}
	&__metaList {
		display: flex;
		gap: 40px;
	}
	&__meta {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__title {
		width: 28px;
		box-sizing: border-box;
		height: 60px;
		background-color: var(--redChocolat);
		padding: 0 7px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		p {
			writing-mode: tb;
			transform: rotate(180deg);
			text-align: center;
		}
	}
	&__btnContainer {
		display: flex;
		gap: 20px;
	}
}

.about {
	padding: 50px 0;
	ul {
		list-style: disc;
		li {
			position: relative;
			left: 18px;
			width: calc(100% - 18px);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
	&__header {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__infoContainer {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 80px;
		row-gap: 40px;
	}
	&__block {
		width: calc(50% - 40px);
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__full {
		width: 100%;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__categoryList {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
	&__category {
		transition-duration: 0.3s;
		background-color: var(--redChocolat);
		padding: 7px 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		gap: 10px;
		&:hover {
			background: var(--darkOrange);
		}
	}
	&__circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: var(--redOrange);
	}
}

.booking {
	padding: 50px 0;
	&__dateContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__header {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 60px;
		p {
			color: var(--darkOrange);
		}
	}
	&__dateList {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__block {
		cursor: pointer;
		user-select: none;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: var(--blackTwo);
		width: calc(7.14286% - 18.5714px);
		min-width: 60px;
		gap: 5px;
		padding: 20px;
		border-radius: 10px;
		outline: none;
		border-width: initial;
		border-style: none;
		border-color: initial;
		border-image: initial;
	}
	&__active {
		background-color: var(--redOrange);
	}
	&__wekend {
		color: var(--redOrange);
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__control {
		display: flex;
		align-items: center;
		gap: 10px;
		button {
			box-sizing: border-box;
			background-color: transparent;
			width: 34px;
			height: 34px;
			outline: none;
			border: 1px solid var(--redOrange);
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		p {
			color: var(--lightGrey);
			text-transform: capitalize;
		}
	}
	&__formContainer {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__card {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		box-sizing: border-box;
		width: calc(11.1111111111% - 17.7777777778px);
		padding: 20px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 5px;
		background-color: var(--blackTwo);
		border: 1px solid transparent;
		min-width: max-content;
	}
	&__cardNotActive {
		border: 1px solid var(--lightGrey);
		background-color: transparent;
	}
	&Modal {
		&__infoContainer {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		&__gray {
			color: var(--lightGrey);
		}
		&__date {
			display: flex;
			gap: 5px;
		}
	}
}

// modal//////////////////////////////////////////////////
.bookingModal {
	&__formRow {
		display: flex;
		gap: 20px;
	}
	&__forms {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-top: 40px;
		&__selectWrapp {
			position: relative;
		}
		&__row {
			position: absolute;
			right: 20px;
			top: 45%;
			transform: translateY(-50%);
			width: 10px;
			height: 10px;
			svg {
				transform: rotate(-90deg);
				object-fit: contain;
			}
		}
		select {
			-webkit-appearance: none;
			box-sizing: border-box;
			border-radius: 5px;
			width: 100%;
			padding: 20px;
			border: 1px solid var(--redOrange);
			outline: none;
			background-color: transparent;
			width: 100%;
			option {
				background-color: var(--blackTwo);
			}
		}
		&__input {
			box-sizing: border-box;
			border-radius: 5px;
			width: 100%;
			padding: 20px;
			border: 1px solid var(--redOrange);
			outline: none;
			background-color: transparent;
		}
		&__checkBox {
			display: flex;
			input {
				display: none;
			}
			label {
				display: flex;
				gap: 10px;
			}
			input:checked + label::before {
				content: url("/check.35d7130a.svg");
			}
			label::before {
				cursor: pointer;
				content: "";
				display: flex;
				justify-content: center;
				align-items: center;
				width: 18px;
				height: 18px;
				padding: 1px;
				border: 1px solid var(--redOrange);
				border-radius: 5px;
				background-color: transparent;
			}
			span {
				width: calc(100% - 30px);
				display: block;
				color: var(--lightGrey);
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}
		}
	}
}

@media (max-width: 800px) {
	.hero {
		&__metaList {
			flex-wrap: wrap;
			gap: 20px;
		}
	}
	.about {
		&__infoContainer {
			flex-direction: column;
			gap: 20px;
		}
		&__block {
			width: 100%;
		}
		&__list {
			gap: 20px;
		}
	}
}
@media (max-width: 1440px) {
	.booking {
		&__block {
			width: calc(7.6923076923% - 10px);
		}
	}
}

@media (max-width: 1160px) {
	.booking {
		&__block {
			width: calc(8.3333333333% - 10px);
		}
	}
}

@media (max-width: 1080px) {
	.booking {
		&__block {
			width: calc(9.0909090909% - 10px);
		}
	}
}

@media (max-width: 1000px) {
	.booking {
		&__block {
			width: calc(10% - 10px);
		}
	}
}

@media (max-width: 920px) {
	.booking {
		&__block {
			width: calc(11.1111111111% - 10px);
		}
	}
}

@media (max-width: 840px) {
	.booking {
		&__block {
			width: calc(12.5% - 10px);
		}
	}
}

@media (max-width: 800px) {
	.booking {
		&__list {
			gap: 10px;
		}
		&__block {
			width: calc(10% - 10px);
		}
	}
}

@media (max-width: 730px) {
	.booking {
		&__block {
			width: calc(11.1111111111% - 10px);
		}
	}
}

@media (max-width: 660px) {
	.booking {
		&__block {
			width: calc(12.5% - 10px);
		}
	}
}

@media (max-width: 590px) {
	.booking {
		&__block {
			width: calc(14.2857142857% - 10px);
		}
	}
	.bookingModal {
		&__formRow {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}
}

@media (max-width: 520px) {
	.booking {
		&__block {
			width: calc(16.6666666667% - 10px);
		}
	}
}

@media (max-width: 450px) {
	.booking {
		&__block {
			width: calc(20% - 12px);
		}
	}
}

@media (max-width: 380px) {
	.booking {
		&__block {
			width: calc(25% - 12px);
		}
	}
}
