.container {
	position: relative;
	width: 100%;
	padding: 0px 40px;
}

.navButton {
	&:disabled {
		background-color: #000;
	}
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;

	svg {
		width: 32px;
		height: 32px;
		transition: transform 0.2s ease;
	}

	&:hover svg {
		transform: scale(1.1);
	}
}

.prev {
	left: -10px;
}

.next {
	right: -10px;
}
