section.hero {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	.hero {
		&__textWrap {
			display: flex;
			flex-direction: column;
			gap: 10px;
			max-width: 700px;
			margin-bottom: 40px;
		}
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: linear-gradient(180deg, rgba(8, 10, 12, 0.5) 40%, #080a0c);
		}
		&__btns {
			display: flex;
			gap: 20px;
		}
		&__video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			video {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

section.quests {
	padding: 4.375rem 0;
	h2 {
		padding-bottom: 3.75rem;
	}
	.quests {
		&__questsWrapp {
			display: flex;
			justify-content: space-between;
			gap: 1.875rem;
			flex-wrap: wrap;
		}
	}
}

section.about {
	padding: 4.375rem 0;
	h2 {
		padding-bottom: 3.75rem;
	}
	p {
		padding-bottom: 3.75rem;
	}
}

@media (max-width: 800px) {
	section.hero {
		height: fit-content;
		min-height: 400px;
		padding: 30px 0;
	}
}
@media (max-width: 500px) {
	section.hero {
		.hero {
			&__btns {
				a {
					width: 50%;
				}
			}
		}
	}
}
@media (max-width: 350px) {
	section.hero {
		.hero {
			&__btns {
				display: flex;
				flex-direction: column;
				a {
					width: 100%;
				}
			}
		}
	}
}
